{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Create Question{% endblock title %}
{% block content %}
<br><br>
<div class="portlet box yellow">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Add New Topics</div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{% url 'topics' %}" class="form-horizontal" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Speciality Name: </label>
                    <div class="col-md-8">
                        <select name="speciality" id="id_speciality" class="form-control">
                            <option value="">--------</option>
                            {% for obj in special %}
                                <option value="{{ obj.id }}">{{ obj.name }}</option>
                            {% endfor %}
                        </select>
{#                        {{ form.speciality|add_class:"form-control" }}#}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Topic Name: </label>
                    <div class="col-md-8">
                        {{ form.name|add_class:"form-control" }}
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn default" onclick="window.location.reload()">Reset</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
{% endblock content %}