{% extends 'base.html' %}
{% block title %} Create Question{% endblock title %}
{% block content %}
<br><br>
<div class="portlet box yellow">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Add New Question</div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form method="POST" action="" id="id_form" data-toggle="validator" role="form">{% csrf_token %}
        <input type="hidden" name="user" value="{{ request.user.id }}">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Topic Name: </label>
                    <div class="col-md-8">
                        <select name="topics" class="form-control">
                            <option value="">---------</option>
                            {% for obj in obj_list %}
                            <option value="{{ obj.id }}">{{ obj.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Question: </label>
                    <div class="col-md-8">
                        <input type="text" name="name" class="form-control" placeholder="Enter text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Answer: </label>
                    <div class="col-md-7">
                        <input type="text" name="journal_transactions[0][qstion]" class="form-control" placeholder="Enter text">
                    </div>
                    <div class="col-md-1">
                        <input type="text" name="journal_transactions[0][answr]" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Answer: </label>
                    <div class="col-md-7">
                        <input type="text" name="journal_transactions[1][qstion]" class="form-control" placeholder="Enter text">
                    </div>
                    <div class="col-md-1">
                        <input type="text" name="journal_transactions[1][answr]" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Answer: </label>
                    <div class="col-md-7">
                        <input type="text" name="journal_transactions[2][qstion]" class="form-control" placeholder="Enter text">
                    </div>
                    <div class="col-md-1">
                        <input type="text" name="journal_transactions[2][answr]" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Answer: </label>
                    <div class="col-md-7">
                        <input type="text" name="journal_transactions[3][qstion]" class="form-control" placeholder="Enter text">
                    </div>
                    <div class="col-md-1">
                        <input type="text" name="journal_transactions[3][answr]" class="form-control">
                    </div>
                </div>
            <table>
                <tbody class="input_fields_wrap inputdeletebutton" id="dynamicInput">
                </tbody>
            </table>
                <a class="btn bg-navy btn-flat margin" onClick="addInput('dynamicInput')">Add New Field </a>



            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn default">Reset</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>

    <script>
        var counter = 3;
        var limit = 10;
        function addInput(divName){
             if (counter == limit)  {
                  alert("You have reached the limit of adding " + counter + " inputs");
             }
             else {
                 var newdiv = document.createElement('tr');
                 newdiv.innerHTML = '<td style="width: 100%;"><div class="form-group"><label class="col-md-3 control-label" style="margin-right: 11px ! important;">Answer:</label><div class="col-md-7"><input type="text" name="journal_transactions[' + (counter + 1) + '][qstion]" class="form-control" placeholder="Enter text"></div><div class="col-md-1"><input type="text" name="journal_transactions[' + (counter + 1) + '][answr]" class="form-control"></div></div><td><a href="javascript:void(0);" onClick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);" >Delete</a></td>';
                 document.getElementById(divName).appendChild(newdiv);
                 counter++;
             }}

            $(document).ready(function () {
            $("#id_form").submit(function (event) {
                event.preventDefault();
                var formData = $(this).serializeJSON();
                console.log(formData);
                $.ajax({
                    url: "{% url "cheque_receive" %}",
                    type: "POST",
                    data: formData,
                    contentType: "application/json",
                    Accept: "application/json",
                    success: function (data) {
                        document.getElementById("id_form").reset();
                        toastr.success("Insertion successful");
                        setTimeout(function(){// wait for 5 secs(2)
                               location.reload(); // then reload the page.(3)
                          }, 1000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr['error']('Error occured');
                    }
                });
            });
        });
    </script>
{% endblock content %}