{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Create Question{% endblock title %}
{% block content %}
<br><br>
<div class="portlet box yellow">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Add New Speciality</div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{% url 'speciality' %}" class="form-horizontal" method="POST">
            {% csrf_token %}
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Speciality Name: </label>
                    <div class="col-md-8">
                        {{ form.name|add_class:"form-control" }}
                    </div>
                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn default">Reset</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
{% endblock content %}