{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Create New User{% endblock title %}
{% block content %}
<br><br>
<div class="portlet box yellow">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Create New User</div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="" class="form-horizontal" method="POST">
            {% csrf_token %}
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">UserName: </label>
                    <div class="col-md-8">
                        <input type="text" name="username" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email Address: </label>
                    <div class="col-md-8">
                       <input type="text" name="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">PassWord: </label>
                    <div class="col-md-8">
                       <input type="text" name="password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">First Name: </label>
                    <div class="col-md-8">
                       <input type="text" name="first_name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Last Name: </label>
                    <div class="col-md-8">
                       <input type="text" name="last_name" class="form-control">
                    </div>
                </div>


            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn green">Save</button>
                        <button type="button" class="btn default" onclick="window.location.reload()">Reset</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
{% endblock content %}