{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %} Create Question{% endblock title %}
{% block content %}
    <style>
    p{
        margin-bottom: 1px;;
    }
    </style>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">Questions Generations</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
                <tr>
                    <th> ID # </th>
                    <th> Question </th>
                </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ forloop.counter }} </td>
                    <td>
                        <div class="form-group">
                            <label for=""><b> {{ obj.name }} </b></label> <br>
                            Options :
                            {% for qustin in obj.journal_transactions.all %}
                            <p><input type="checkbox"> {{ qustin }}</p>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}