{% extends 'base.html' %}
{% block title %} List of Topics {% endblock title %}
{% block content %}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">List of Topics</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
                <tr>
                    <th> ID # </th>
                    <th> Topics Name </th>
                    <th> No. of Question </th>
                    <th> Speciality </th>
                    <th> Created On </th>
{#                    <th> Action </th>#}
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ obj.name }} </td>
                    <td> {{ obj.journal_set.count }} </td>
                    <td> {{ obj.speciality }} </td>
                    <td> {{ obj.create_date }} </td>
{#                    <td> Win 95+ </td>#}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}