{% extends 'base.html' %}
{% block title %} List of Users {% endblock title %}
{% block content %}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase">List of User</span>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
                <tr>
                    <th> ID # </th>
                    <th> User Name </th>
                    <th> Email </th>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Last Login </th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                <tr>
                    <td> {{ forloop.counter }} </td>
                    <td> {{ obj.username }} </td>
                    <td> {{ obj.email }} </td>
                    <td> {{ obj.first_name }} </td>
                    <td> {{ obj.last_name }} </td>
                    <td> {{ obj.last_login }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}