<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <li class="nav-item start active open">
                <a href="{% url 'dashboard' %}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">Menu</h3>
            </li>
            <li class="nav-item">
                <a href="{% url 'speciality' %}" class="nav-link nav-toggle">
                    <i class="icon-folder"></i>
                    <span class="title">Create Speciality</span>
                </a>
            </li>
{#            <li class="nav-item">#}
{#                <a href="{% url 'topics' %}" class="nav-link nav-toggle">#}
{#                    <i class="icon-folder"></i>#}
{#                    <span class="title">Create Topics</span>#}
{#                </a>#}
{#            </li>#}
{##}
           <li class="nav-item">
                <a href="{% url 'topics_list' %}" class="nav-link nav-toggle">
                    <i class="icon-folder"></i>
                    <span class="title">List of Topics</span>
                </a>
            </li>
{#           <li class="nav-item">#}
{#                <a href="{% url 'question' %}" class="nav-link nav-toggle">#}
{#                    <i class="icon-folder"></i>#}
{#                    <span class="title">Create Questions</span>#}
{#                </a>#}
{#            </li>#}
{#           <li class="nav-item">#}
{#                <a href="{% url 'question_list' %}" class="nav-link nav-toggle">#}
{#                    <i class="icon-folder"></i>#}
{#                    <span class="title">List of Questions</span>#}
{#                </a>#}
{#            </li>#}
           <li class="nav-item">
                <a href="{% url 'select_topics' %}" class="nav-link nav-toggle">
                    <i class="icon-folder"></i>
                    <span class="title">Generate Exam Question</span>
                </a>
            </li>
          <li class="nav-item">
                <a href="{% url 'create_newuser' %}" class="nav-link nav-toggle">
                    <i class="icon-folder"></i>
                    <span class="title">Create New User</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'teacher_list' %}" class="nav-link nav-toggle">
                    <i class="icon-folder"></i>
                    <span class="title">User List</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'distribution' %}" class="nav-link nav-toggle">
                    <i class="icon-folder"></i>
                    <span class="title">Distribution</span>
                </a>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
